<!DOCTYPE html>
<html lang="en">
<head id="header"
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Habitantes</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'register/styleindex.css' %}">
</head>
<body>
    <header>
        <h1>Registro de Habitantes</h1>
    </header>
    <nav class= "section__nav">
        <a class="section__nav" href="{% url 'register:menu' %}"><img class="nav__img" src="{% static 'register/menu.svg' %}"></a>
        <a class="section__nav" href="{% url 'register:addspace' %}"><img class="nav__img" src="{% static 'register/state.svg' %}"></a>      
        <a class="section__nav" href="{% url 'register:add' %}"><img class="nav__img" src="{% static 'register/citizen.svg' %}"></a>
        <a class="section__nav" href="{% url 'logout' %}"><img class="nav__img" src="{% static 'register/logout.svg' %}"></a>
    </nav>
    {% block  main %}
    {% endblock  %}
</body>
</html>