{% extends 'register/home.html' %}
{% load static %}
{% block main %}
<style>.errorlist{color:red;}</style>
<main class="main__menu">
    <h1>Bienvenido</h1>
    <!-- Comienza la sección de las imágenes -->
    <section class="main__image">
        <!-- Esta es la imágen de Usuarios-->
        <section class="section__image">
            <a class="a__menu" href="{% url 'signup' %}">
                <img class="nav__img" src="{% static 'register/usuario.svg' %}" alt="Este es eel logo de in trabajador. Ingreso para Agregar, Eliminar o Modificar un usuario">
            </a>
            <p>Agregar Usuario</p>
        </section>
        <!-- Esta es la imágen de Colombia-->
        <section class="section__image">>
            <a class="a__menu" href="{% url 'register:addspace' %}">
                <img class="nav__img" src="{% static 'register/state.svg' %}" alt=" Este es el logo de un Pais. El ingreso para Agregar, Editar o Modicar una ciudad o departamento">
            </a> 
            <p>Agregar algún lugar</p> 
        </section>
        <!-- Esta es la imágen de Habitantes-->
        <section class="section__image">>
            <a class="a__menu" href="{% url 'register:add' %}">
                <img class="nav__img" src="{% static 'register/citizen.svg' %}" alt="Este es el logo de habitantes. el ingreso para Agregar, Editar o Modificar Habitantes">
            </a>
            <p>Agregar Habitantes</p>
        </section>
    </section>
</main>
{% endblock %}

    
