{% extends 'register/home.html' %} {% load static %} {% block main %}
<style>
  .errorlist {
    color: red;
  }
</style>
<main class="main__passwordreset--form">
  <a class="maim__image--git" href="https://github.com/matheoarias/"
    ><img
      src="{% static 'register/github.svg'%}"
      alt="Instagram"
    />matheoarias</a
  >
  <h2>Restablecer Contraseña</h2>
  <p>
    ¿Ha olvidado su clave? Introduzca su dirección de Correo Elecctrónico y a
    continuación, enviaremos las instrucciones para reestablecerla.
  </p>
  <!-- Comienza el fomurlario para Reiniciar contraseña-->
  <form action="" method="post">
    {% csrf_token %} {{ form.email.errors }}
    <!-- Input para agregar Corre Eléctronico ex: teoarco@gmail.com-->
    <div class="form__input">
      <input
        type="email"
        name="email"
        maxlength="254"
        required=""
        id="id_email"
        class="form-control"
        placeholder="Introduce tu email"
      />
    </div>
    <!--Botón para enviar reinicio de Contraseña-->
    <div class="form__input--button">
      <input
        type="submit"
        class="btn btn-primary btn-block"
        value="Confirmar"
      />
    </div>
  </form>
</main>
{% endblock %}
